#ctl00_dvErrMsg{:style => "font-weight: bold;"}
#content
  .page-heading
    %h2.melbourne
      %cufon.cufon.cufon-canvas{:alt => "How ", :style => "width: 83px; height: 45px;"}
        %canvas{:height => "49", :style => "width: 108px; height: 49px; top: -5px; left: -2px;", :width => "108"}
        %cufontext How
      %cufon.cufon.cufon-canvas{:alt => "It ", :style => "width: 34px; height: 45px;"}
        %canvas{:height => "49", :style => "width: 59px; height: 49px; top: -5px; left: -2px;", :width => "59"}
        %cufontext It
      %cufon.cufon.cufon-canvas{:alt => "Works", :style => "width: 104px; height: 45px;"}
        %canvas{:height => "49", :style => "width: 120px; height: 49px; top: -5px; left: -2px;", :width => "120"}
        %cufontext Works
  .content-wrapper
    /
      <h4>
      
      Each challenge is
      created to garner participation from community members with expertise in the
      specific problem domain. If you feel you have the expertise to compete in a
      challenge, follow these steps to get started!
      </h4>
    %div{:style => "float: left; width:10%; padding-left:25px"}
      %img{:alt => "Post", :src => "http://cloudspokes.s3.amazonaws.com/01Post.jpg"}
    %div{:style => "width: 75%;"}
      %h3 Competition Posted
      Carefully read the requirements
      for the challenge to ensure that you feel comfortable that you will be able to
      submit a solution.
    %br
      %br
        %div{:style => "float: left; width:10%; padding-left:25px"}
          %img{:alt => "Post", :src => "http://cloudspokes.s3.amazonaws.com/02Register.jpg"}
        %div{:style => "width: 75%;"}
          %h3 Register
          Found your competition?  Take note of the time
          frame allotted for the challenge - you should register on or soon after the
          start date to allow yourself enough time to complete the challenge.
        %br
          %div{:style => "clear:both"}
          %div{:style => "float: left; width:10%; padding-left:25px"}
            %img{:alt => "Post", :src => "http://cloudspokes.s3.amazonaws.com/03Colaborate.jpg"}
          %div{:style => "width: 75%;"}
            %h3 Collaborate
            Carefully read the requirements
            for the challenge to ensure that you feel comfortable that you will be able to
            submit a solution.  Make sure to use the forums to discuss any questions with
            the community and the challenge posters.
          %br
            %div{:style => "clear:both"}
            %div{:style => "float: left; width:10%; padding-left:25px"}
              \ 
              %img{:alt => "Post", :src => "http://cloudspokes.s3.amazonaws.com/04Submit1.jpg"}/
            %div{:style => "width: 75%;"}
              %h3 Submit
              Also review the
              deliverable requirements for the challenge - it's important to adhere to these
              when you submit your solution. This includes requested file formats and any
              other instructions pertinent to the submission of your work.  Your
              submissions must be uploaded by the due date - late submissions are not allowed.
            %br
              %div{:style => "float: left; width:10%; padding-left:25px"}
                %img{:alt => "Post", :src => "http://cloudspokes.s3.amazonaws.com/05PeerReview.jpg"}
              %div{:style => "width: 75%;"}
                %h3 Peer Review
                Once your work has been submitted it is time to get it reviewed by your peers to determine the winner.
                This is where the rubber hits the road.  Did you comment your code?  Is it readable?  Does it implement all the requirements?
              %br
                %div{:style => "clear:both"}
                %div{:style => "float: left; width:10%; padding-left:25px"}
                  %img{:alt => "Post", :src => "http://cloudspokes.s3.amazonaws.com/06Winner.jpg"}
                %div{:style => "width: 75%;"}
                  %h3 Winning
                  Congratulations!  You have won!  Even if you didn't win, check out your profile to see if you have earned any achievements!
                %br
