#footer
  %p.fr
    %span
      %a{:href => "../privacy.html"} Privacy
      |
    %span
      %a{:href => "../terms.html"} Terms
      |
    %span
      %a{:href => "https://spreadsheets.google.com/a/appirio.com/viewform?hl=en&formkey=dGdmWHNGdjdQRk1ZUzdacVl4QXFualE6MQ&ndplr=1#gid=0"}
        Log a bug!
  %ul
    %li created by
    %li
      %a{:href => "http://www.appirio.com"} Appirio
    %li
      %a{:href => "http://digg.com/CloudSpokes"}
        %img{:alt => "", :height => "20", :src => "http://cloudspokes.s3.amazonaws.com/icon-digg.gif", :width => "19"}/
    %li
      %a{:href => "http://delicious.com/cloudspokes"}
        %img{:alt => "", :height => "20", :src => "http://cloudspokes.s3.amazonaws.com/icon-delicious.gif", :width => "19"}/
    %li
      %a{:href => "http://technorati.com/people/cloudspokes"}
        %img{:alt => "", :height => "20", :src => "http://cloudspokes.s3.amazonaws.com/icon-technorati.gif", :width => "18"}/
    %li
      %a{:href => "http://twitter.com/cloudspokes"}
        %img{:alt => "", :height => "20", :src => "http://cloudspokes.s3.amazonaws.com/icon-twitter.gif", :width => "19"}/
    %li
      %a{:href => "http://www.facebook.com/CloudSpokes"}
        %img{:alt => "", :height => "20", :src => "http://cloudspokes.s3.amazonaws.com/icon-facebook.gif", :width => "19"}/

